.L-header {
    text-align: center;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }